body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Cute Font', cursive;
    height: 3000px;
}

.sky {
    height: 1000px;
    background: url('./images/sky.png');
    background-size: cover;
    z-index: 1;
    position: fixed;
    width: 100%;
}

.sky .boxSky {
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sky .boxSky .title {
    font-size: 46px;
}

.sky .boxSky .description {
    font-size: 23px;
}

.forest {
    position: relative;
    top: 1000px;
    width: 100%;
    z-index: 2;
    height: 1000px;
    background: url('./images/forest.jpg');
    background-size: cover;
}

.forest .boxForest {
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.forest .boxForest .title {
    font-size: 46px;
}

.forest .boxForest .description {
    font-size: 23px;
}

.water .boxWater {
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.water .boxWater .title {
    font-size: 46px;
}

.water .boxWater .description {
    font-size: 23px;
}

.water {
    position: relative;
    top: 2000px;
    z-index: 3;
    height: 1000px;
    background: url('./images/underWater.png');
    background-size: cover;
}